@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'Inter', sans-serif;
    }
}